[submodule "scripts"]
	path = scripts
	url = https://github.com/ryeenii/dotnii-scripts
[submodule "lib/awesome-switcher"]
	path = lib/awesome-switcher
	url = http://github.com/grenzionky/awesome-switcher
	branch = patch-1
