[submodule "awesome-switcher"]
	path = awesome-switcher
	url = http://github.com/grenzionky/awesome-switcher
	branch = patch-1
[submodule "scripts"]
	path = scripts
	url = https://github.com/ryeenii/dotnii-scripts
